<script data-th-src="@{js/jquery.min.js}"></script>
<script data-th-src="@{js/tether/tether.min.js}"></script>
<script data-th-src="@{js/bootstrap/bootstrap.min.js}"></script>
<script data-th-src="@{js/waves/waves.min.js}"></script>
<script data-th-src="@{js/jquery.scrollbar/jquery.scrollbar.min.js}"></script>
<script data-th-src="@{js/jquery-scrollLock/jquery-scrollLock.min.js}"></script>
<script data-th-src="@{js/bootstrap-notify/bootstrap-notify.min.js}"></script>

<script data-th-src="@{js/multiple-select/multiple-select.js}"></script>
<script data-th-src="@{js/dropzone/dropzone.min.js}"></script>
<script data-th-src="@{js/sweetalert2/sweetalert2.js}"></script>
<script data-th-src="@{js/jquery-validate/jquery.validate.min.js}"></script>
<script data-th-src="@{js/jquery-validate/additional-methods.min.js}"></script>
<script data-th-src="@{js/jquery-validate/messages_zh.min.js}"></script>

<script data-th-src="@{/js/jsTree/jstree.js}"></script>

<script data-th-src="@{js/bootstrap-table/bootstrap-table.min.js}"></script>
<script data-th-src="@{js/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>

<script data-th-src="@{js/jqTreeGrid/jquery.treegrid.js}"></script>
<!-- <script data-th-src="@{js/jqTreeGrid/jquery.treegrid.bootstrap3.js}"></script> -->
<script data-th-src="@{js/jqTreeGrid/jquery.treegrid.extension.js}"></script>
<!-- <script data-th-src="@{js/jqTreeGrid/tree.table.js}"></script> -->

<script data-th-src="@{js/highchart/highcharts.js}"></script>
<script data-th-src="@{js/highchart/exporting.js}"></script>
<script data-th-src="@{js/highchart/highcharts-zh_CN.js}"></script>

<script data-th-src="@{js/common.js}"></script>
