<link rel="stylesheet" data-th-href="@{css/autocomplete/autocomplete.css}">
<div class="card">
    <div class="card-block weather-block">
        <div class="wrapper">
            <div id="search-form"></div>
            <div id="areaId" hidden></div>
        </div>
        <div style="display:inline">
            <div id="container1" style="width:49%;min-height:0px;display:inline-block"></div>
            <div id="container2" style="width:49%;min-height:0px;display:inline-block"></div>
        </div>
        <div style="display:inline">
            <div id="container3" style="width:100%;min-height:0px;display:inline-block">
            </div>
            <div id="container4" style="width:100%;min-height:0px;display:inline-block">
            </div>
            <div id="container5" style="width:100%;min-height:0px;display:inline-block">
            </div>
            <div id="container6" style="width:100%;min-height:0px;display:inline-block">
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/autocomplete/autocomplete.js}"></script>
<script data-th-src="@{js/app/web/weather/weather.js}"></script>